<div appBlurCard>
    <app-header-feature title="Mis Hoteles" icon="location_city"></app-header-feature>

    <div class="mt-8">

        <div class="grid grid-cols-1 sm:grid-cols-4 gap-4">
            <div appGridCard>
                <mat-icon class="mat-icon-lg-custom">
                    add_box
                </mat-icon>
                <button color="primary" mat-raised-button (click)="goToCreateHotel()">
                    Crear Hotel
                </button>
            </div>

            <ng-container *ngFor="let hotel of hotels">
                <div appGridCard>
                    <div class="flex flex-col w-full space-y-2">
                        <div class="text-xl border-b-2">
                            {{hotel.name}}
                        </div>
                        <div class="text-sm">
                            # Habitaciones: {{hotel?.rooms?.length}}
                        </div>
                    </div>
                   
                    <div class="w-full flex flex-row items-center justify-between space-x-2">
                        <button mat-raised-button color="primary" (click)="goToUpdateHotel(hotel.id)">
                            Editar
                        </button>
                        <div class="flex flex-col items-end">
                            <div class="text-white dark:text-yellow-400">
                                {{hotel.state.id === 'available' ? 'Deshabilitar' : 'Habilitar'}}
                            </div>
                             
                            <mat-slide-toggle
                            (change)="onToggleChangeState($event, hotel.id)"
                            color="primary"
                            [checked]="hotel.state.id === 'available'">
                           
                            </mat-slide-toggle>
                        </div>
                       
                    </div>
    
                </div>
            </ng-container>
           
        </div>

    </div>
    
</div>