<div appBlurCard>
    <app-header-feature title="Mis Reservas" icon="local_play"></app-header-feature>

    <div class="mt-8">

        <div class="grid grid-cols-1 gap-4" [ngClass]="{'sm:grid-cols-4' : reservations.length > 0}">

            <ng-container *ngFor="let reservation of reservations">
                <div appGridCard>

                    <div class="flex flex-col w-full space-y-2 mb-2 sm:mb-3">
                        <div class="border-b-2 border-yellow-200 dark:border-cyan-700">
                            <span class="font-medium text-yellow-400">ID de reserva:</span> {{reservation.id}}
                        </div>
                        <div class="border-b-2 border-yellow-200 dark:border-cyan-700">
                            <span class="font-medium text-yellow-400">Hotel:</span> {{reservation.hotel?.name}}
                        </div>
                        <div class="border-b-2 border-yellow-200 dark:border-cyan-700">
                            <span class="font-medium text-yellow-400">Habitación Id:</span> {{reservation.room?.id}}
                        </div>
                        <div class="border-b-2 border-yellow-200 dark:border-cyan-700">
                            <span class="font-medium text-yellow-400"># Huéspedes:</span> {{reservation.guests.length}}
                        </div>
                        <div class="border-b-2 border-yellow-200 dark:border-cyan-700">
                            <span class="font-medium text-yellow-400">Total:</span> {{reservation.totalPrice | currency:'USD'}}
                        </div>
                        <div>
                            <span class="font-medium text-yellow-400">Ubicación:</span> {{reservation.room?.ubication?.value}}
                        </div>
                    </div>
                    
                    <div class="w-full flex flex-row items-center justify-center">
                        <button mat-raised-button color="primary" (click)="openReservationDetail(reservation)">
                            Detalle
                        </button>
                    </div>
    
                </div>
            </ng-container>

            <ng-container *ngIf="reservations.length <= 0">
                <div appGridCard>
                    <div class="text-4xl text-white text-center">
                        Aún no tienes reservas 
                        <mat-icon>
                            notification_important  
                        </mat-icon>
                    </div>
                </div>
            </ng-container>
           
        </div>

    </div>
    
</div>