<div appBlurCard>
    <app-header-feature title="Reservar" icon="hotel"></app-header-feature>

    <div class="mt-4">
        <app-filter-rooms  (filterChanged)="onFilterChange($event)" (filterCleaned)="onFilterCleaned($event)"></app-filter-rooms>
    </div>
    <div class="mt-4">

        <div class="grid grid-cols-1 sm:grid-cols-4 gap-4" [ngClass]="{'sm:grid-cols-4' : rooms.length > 0}">
            <ng-container *ngFor="let room of rooms">
                <div appGridCard>

                    <div class="flex flex-col w-full space-y-2 mb-2 sm:mb-3">
                        <div class="border-b-2 border-yellow-200 dark:border-cyan-700">
                            <span class="font-medium text-yellow-400">Hotel:</span> {{room.hotel?.name}}
                        </div>
                        <div class="border-b-2 border-yellow-200 dark:border-cyan-700">
                            <span class="font-medium text-yellow-400">Descripción:</span> {{room.description}}
                        </div>
                        <div class="border-b-2 border-yellow-200 dark:border-cyan-700">
                            <span class="font-medium text-yellow-400">Costo:</span> {{room.cost | currency:'USD'}} más impuestos
                        </div>
                        <div class="border-b-2 border-yellow-200 dark:border-cyan-700">
                            <span class="font-medium text-yellow-400">Tipo:</span> {{room.type.value}}
                        </div>
                        <div>
                            <span class="font-medium text-yellow-400">Ubicación:</span> {{room.ubication.value}}
                        </div>
                    </div>
                    
                    <div class="w-full flex flex-row items-center justify-between space-x-2">
                        <button mat-raised-button color="primary" (click)="openModalCreateRervation(room)">
                            Reservar
                        </button>
                    </div>
                </div>
            </ng-container>

            <ng-container *ngIf="rooms.length <= 0 && filterActive">
                <div appGridCard>
                    <div class="text-xl sm:text-4xl text-white text-center">
                        No se encontraron habitaciónes disponibles
                        <mat-icon>
                            notification_important  
                        </mat-icon>
                    </div>
                </div>
            </ng-container>

            <ng-container *ngIf="!filterActive">
                <div appGridCard>
                    <div class="text-xl sm:text-4xl text-white text-center">
                        Utiliza los filtros para encontrar habitaciones
                        <mat-icon>
                            notification_important  
                        </mat-icon>
                    </div>
                </div>
            </ng-container>
           
        </div>

    </div>
    
</div>